backend_uri: http://my-backend-server.example.com
username: user_who_can_create_records # defaults to "admin"
password: my_clever_password

# Converter used in jsonmodel-from-format plugin:
# 'ead' to use ASpace's default EADConverter or 'unc_ead' to use custom UNC EADConverter
converter_method: ead

# Directory with EAD files to be uploaded
ingest_dir: ./where_my_files_live

# This MUST be set to 1 prior to ArchivesSpace v1.5.2 due to known issue
max_concurrency: 1

# Currently, the import script doesn't know how to find repositories from shortnames
# Therefore, it's necessary to build a manual mapping from one to the other.

# DB ID of repository
repository_id: 2
